@font-face{
  font-family: humble;
  src: url(../../../assets/tomatoes-font/Tomatoes-O8L8.ttf);
  
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-size:40px;
  display: block;
  margin-bottom: 1rem;
  font-family: humble;
}
@font-face {
  font-family: featle;
  src: url(../../../assets/featly-note-font/FeatlyNoteRegular-mLmEP.ttf);

}
.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 2.3rem;
  padding: 0 0.25rem;
  margin-bottom: 2rem;
  font-family: featle;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
  
}

.button{
  margin-top: 0.25rem;
}
.form-control.invalid input {
  border-color: red;
  background: rgb(247, 210, 210);
}

.form-control.invalid label {
  color: red;
}
