@font-face{
  font-family: humble;
  src: url(../../../assets/Circular\ Std\ Book.ttf);
  
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-size:40px;
  display: block;
  margin-bottom: 1rem;
  font-family: humble;
  /* font-weight: bold; */
}
@font-face {
  font-family: featle;
  src: url(../../../assets/featly-note-font/FeatlyNoteRegular-mLmEP.ttf);

}
.form-control input {
  display: block;
  width: 100%;
  border: 1px solid rgba(24, 22, 22, 0.534);
  font: inherit;
  line-height: 2.3rem;
  padding: 0 0.25rem;
  margin-bottom: 2rem;
  font-family: featle;
  background: #f1f1f193;
}

.form-control input:focus {
  outline: none;
  background: #ffffff93;
  border-color: rgb(99, 99, 99);
  
}

.button{
  margin-top: 0.25rem;
}
.form-control.invalid input {
  border-color: red;
  background: rgb(247, 210, 210);
}

