#goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

#goal-form {
  text-align: center;
  max-width: 35rem;
  width: 80%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #fff2cab6;
  color: black;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.13);
}
