@font-face{
  font-family: humble;
  src: url(../src/assets/Circular\ Std\ Book.ttf);
  
}
* {
  box-sizing: border-box;
}

html {
  font-family: humble;
}

body {
  margin: auto;
  background-image: url(../src/assets/dotted.png);
}
